
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

.game-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

/* h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
} */

input {
  width: 75%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #4CAF50;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #50d955;
  color: white;
  border: none;
  border-radius: 4px;
  /* font-size: 16px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #408c44;
}

button:active {
  background-color: #3e8e41;
}

p {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

p {
  color: #d9534f;
}

